node_modules
npm-debug.log
dist
.env
.env.local
.env.production
.env.development
.env.test
.env.development.local
.env.test.local
.env.production.local
.git
.gitignore
README.md
coverage
.nyc_output
test
*.log
.DS_Store
.vscode
.idea
*.pem
